# Environnement virtuel
.venv/
.examen_finale/
mon_env/
__pycache__/
*.pyc
*.pyo

# Données générées (à ne pas publier)
data/processed/

# Compilateur LaTeX local
tectonic

# Fichiers temporaires
*.log
.DS_Store
Thumbs.db
